<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
<link rel="icon" href="http://static.hamlet365.com/resources/shop/images/favicon.ico" type="image/x-icon" />
<link href="http://static.hamlet365.com/resources/shop/css/common.css" rel="stylesheet" type="text/css" />
<link href="http://static.hamlet365.com/resources/shop/css/index.css" rel="stylesheet" type="text/css" />
<script src="http://static.hamlet365.com/resources/shop/js/jquery.js"></script>
<script src="http://static.hamlet365.com/resources/shop/js/jquery.tools.js"></script>
<script src="http://static.hamlet365.com/resources/shop/js/jquery.lazyload.js"></script>
<!-- <script src="/resources/shop/js/common.js"></script> -->
<script>
$(function() {
	var $productImage = $("#hotProduct img");
	
	$productImage.lazyload({
		threshold: 100,
		effect: "fadeIn",
		skip_invisible: false
	});

	// banner轮播
	var BANNER = {
		init: function () {
			var me = this;
			me.$parent = $('#topslide');
			me.$main = $('#slider');
			me.$img = $('#slider div');
			me.$control = $('.slider-control');
			me._len = me.$img.length;
			me._now = 0;
			me._state = true;
			me._time;
			if (me._len > 1) {
				me.dot();
				me.bindEvent();
				me.imgActive(me._now);
				me.imgPlay();
			}
		},
		// 事件绑定
		bindEvent: function () {
			var me = this;
			// dot点击事件
			me.$dot.bind('mouseover', function () {
				var num = ~~($(this).attr('rel'));
				me.imgActive(num);
			});
			// 轮播区域hover停止轮播
			me.$parent.hover(function () {
				clearInterval(me._time);
			},function () {
				me.imgPlay();
			});
		},
		// 生成dot
		dot: function () {
			var me = this;
			var arr = [];
			for (var i = 0; i < me._len; i++) {
				arr.push('<a rel="'+i+'"></a>');
			}
			me.$control.html(arr.join(''));
			me.$dot = $('.slider-control a');
		},
		// 图片轮播
		imgPlay: function () {
			var me = this;
			me._time = setInterval(function () {
				me.imgActive(me._now);
			}, 2000);
		},
		imgActive: function (num) {
			var me = this;
			me.$img.removeClass('active');
			me.$dot.removeClass('active');
			me.$img.eq(num).addClass('active');
			me.$dot.eq(num).addClass('active');
			me._now = ++num;
			me._now = me._now > me._len-1? 0: me._now;
		}
	};
	BANNER.init();

});
</script>
</head>
<body class="w1200">

<!-- header -->
<div class="header">
	<!-- nav -->
	<div class="head-nav">
		<div class="container">
			<ul class="navlinks">
				<li>
					<a href="/">首页</a>
				</li>
				<li>
					<a href="/product/list/1.action">进口食品</a>
				</li>
				<li>
					<a href="/product/list/2.action">进口饮料</a>
				</li>
				<li>
					<a href="/product/list/3.action">进口生鲜</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- topslide -->
<div id="topslide" class="topslide">
	<div id="slider" class="slider">
		<div class="active" href="/" style="background-color: #ff0;">
			<a href="/"><img src="http://7xkqwg.com1.z0.glb.clouddn.com/f-1440083450713-21075.jpg" alt="美好" title="美好"></a>
		</div>
		<div href="/" style="background-color: #0ff;">
			<a href="/"><img src="http://7xkqwg.com1.z0.glb.clouddn.com/f-1440083568234-27683.jpg" alt="粉红" title="粉红"></a>
		</div>
		<div href="/" style="background-color: #f0f;">
			<a href="/"><img src="http://7xkqwg.com1.z0.glb.clouddn.com/f-1440083464326-58365.jpg" alt="香浓" title="香浓"></a>
		</div>
	</div>
	<div class="slider-control"></div>
</div>

<!-- container -->
<div class="container index">
	<h2 class="w-tit1"><span class="big">今日限时特卖 / </span>每日上午10:00 强势更新</h2>
	<div id="hotsaleblock">
		
		<div class="m-hotsale m-hotsale-1 clearfix">
			<a class="pic" href="/product/12664.html" target="_blank" title="LG生活健康 MR.HOMESTAR 拜托鞋子除味剂 标准型+清爽香型 200毫升/瓶">
				<img src="http://haitao.nosdn3.127.net/if50iv6w99_585_360.jpg" alt="LG生活健康 MR.HOMESTAR 拜托鞋子除味剂 标准型+清爽香型 200毫升/瓶" title="LG生活健康 MR.HOMESTAR 拜托鞋子除味剂 标准型+清爽香型 200毫升/瓶" width="536px" height="330px">
				<i class="w-icon w-icon-20"></i>
			</a>
			<div class="foreshowBox foreshowBox-1">
				<div class="proinfo">
					<div class="timerBox1 timerBox1-home clearfix" timer="60987351">
					限时特卖：<strong class="day">00</strong><span>天</span><strong class="hour">16</strong><span>时</span><strong class="min">54</strong><span>分</span><strong class="sec">25</strong><span>秒</span><strong class="msec">8</strong>
					</div>
					<div class="w-brand clearfix">
						<img src="http://haitao.nos.netease.com/c0be3e6c11de4adb9ea90df712da9aea1419662386933i46mbwfo10003.png">
						<span>KOR<br>韩国直供 杭州保税仓发货</span>
					</div>
					<h3 class="tit">
						<a target="_blank" href="/product/12664.html">
							<strong>LG生活健康 鞋子除味剂 标准型+清爽香型 200毫升/瓶</strong> 去除恶臭根源 祛除细菌脚气菌
						</a>
					</h3>
					<p class="desc">去人家家里做客最怕脱鞋子？不敢去日韩料店吃饭？采用绿茶、柿子叶和小苏打，能有效去除98%以上异味，同时杀死99.9%细菌，有它不再为异味而烦恼！不用再因鞋臭尴尬。告别异味，度过清爽每一天。
					</p>
					<p class="w-price m-price">
						<label class="s-fc0 lbl">包邮价</label><strong><span class="symbol">¥</span>50</strong><span class="w-icon w-icon-21"><b class="num">3.6</b>折</span>
						<br><span class="price1">市场价 <del>¥<b>59</b></del></span>国内参考价 ¥138
					</p>
					<a class="w-btn w-btn-1 " href="/product/12664.html" target="_blank" title="立即购买" rel="nofollow"></a>
				</div>
			</div>
		</div>


	</div>

	<article class="m-recomds">
		<h2 class="w-tit1"><span class="big">热销精选</h2>
		<ul class="clearfix">
			<li class="itm1">
				<a class="pic" href="/product/14721.html" target="_blank" title="GUERLAIN 娇兰 小黑裙套装 香水50毫升+身体乳75毫升+化妆包EDP">
					<img src="http://haitao.nos.netease.com/onlineiejyy1ec10001.jpg" alt="GUERLAIN 娇兰 小黑裙套装 香水50毫升+身体乳75毫升+化妆包EDP">
				</a>
				<div class="txt">
					<h3 class="tit">
						<a target="_blank" href="/product/14721.html" title="GUERLAIN 娇兰 小黑裙套装 香水50毫升+身体乳75毫升+化妆包EDP">GUERLAIN 娇兰 小黑裙套装 香水50毫升+身体乳75毫升+化妆包EDP</a>
					</h3>
					<p class="price m-price">
						<label class="s-fc0 lbl">售价</label><strong><span class="symbol">¥</span>399</strong>
						<br>市场价 <span>¥1125</span>
					</p>
				</div>
			</li>

		</ul>
	</article>

	<article class="m-halfbanner">
		<ul class="clearfix">
			<li>
				<a target="_blank" href="http://www.kaola.com/activity/detail/3250.html" title="">
					<img alt="" src="http://haitao.nos.netease.com/ic8g2fwz71.jpg">
				</a>
			</li>
			<li>
				<a target="_blank" href="http://www.kaola.com/activity/detail/3250.html" title="">
					<img alt="" src="http://haitao.nos.netease.com/ic8g2fwz71.jpg">
				</a>
			</li>
			<li>
				<a target="_blank" href="http://www.kaola.com/activity/detail/3250.html" title="">
					<img alt="" src="http://haitao.nos.netease.com/ic8g2fwz71.jpg">
				</a>
			</li>
			<li>
				<a target="_blank" href="http://www.kaola.com/activity/detail/3250.html" title="">
					<img alt="" src="http://haitao.nos.netease.com/ic8g2fwz71.jpg">
				</a>
			</li>
			
		</ul>
	</article>

	<article class="m-mustbuy">
		<h2 class="w-tit1"><span class="big">进口食品</h2>
		<ul class="clearfix">
			<li class="big itm1">
				<a class="pic" href="/product/11167.html" target="_blank" title="Hurom 惠人 HU-910WN-M原汁机 红色">
					<span class="imgwrap">
						<img src="http://haitao.nos.netease.com/onlineid86d5jd10081.jpg" alt="Hurom 惠人 HU-910WN-M原汁机 红色">
					</span>
					<span class="txt">
						<strong class="tit">Hurom 惠人 HU-910WN-M原汁机 红色</strong>
						<span class="desc">推荐理由: 鲜听我说 就是这么好喝</span>
						<span class="price">
							<span class="symbol">¥</span>3599
						</span>
					</span>
				</a>
			</li>
			<li class="small">
				<a class="pic" href="/product/14731.html" target="_blank" title="LA MER 海蓝之谜 奇迹面霜 30毫升">
					<img src="http://haitao.nos.netease.com/onlineieh20oy710017.jpg" alt="LA MER 海蓝之谜 奇迹面霜 30毫升">
				</a>
				<div class="txt">
					<a href="/product/14731.html" target="_blank" class="tit" title="LA MER 海蓝之谜 奇迹面霜 30毫升">LA MER 海蓝之谜 奇迹面霜 30毫升</a>
					<span class="price m-price">
						<label class="fs12 lbl">包邮价</label><span class="symbol">¥</span>1099
					</span>
				</div>
			</li>
			<li class="small">
				<a class="pic" href="/product/14731.html" target="_blank" title="LA MER 海蓝之谜 奇迹面霜 30毫升">
					<img src="http://haitao.nos.netease.com/onlineieh20oy710017.jpg" alt="LA MER 海蓝之谜 奇迹面霜 30毫升">
				</a>
				<div class="txt">
					<a href="/product/14731.html" target="_blank" class="tit" title="LA MER 海蓝之谜 奇迹面霜 30毫升">LA MER 海蓝之谜 奇迹面霜 30毫升</a>
					<span class="price m-price">
						<label class="fs12 lbl">包邮价</label><span class="symbol">¥</span>1099
					</span>
				</div>
			</li>
			<li class="small">
				<a class="pic" href="/product/14731.html" target="_blank" title="LA MER 海蓝之谜 奇迹面霜 30毫升">
					<img src="http://haitao.nos.netease.com/onlineieh20oy710017.jpg" alt="LA MER 海蓝之谜 奇迹面霜 30毫升">
				</a>
				<div class="txt">
					<a href="/product/14731.html" target="_blank" class="tit" title="LA MER 海蓝之谜 奇迹面霜 30毫升">LA MER 海蓝之谜 奇迹面霜 30毫升</a>
					<span class="price m-price">
						<label class="fs12 lbl">包邮价</label><span class="symbol">¥</span>1099
					</span>
				</div>
			</li>
			<li class="small">
				<a class="pic" href="/product/14731.html" target="_blank" title="LA MER 海蓝之谜 奇迹面霜 30毫升">
					<img src="http://haitao.nos.netease.com/onlineieh20oy710017.jpg" alt="LA MER 海蓝之谜 奇迹面霜 30毫升">
				</a>
				<div class="txt">
					<a href="/product/14731.html" target="_blank" class="tit" title="LA MER 海蓝之谜 奇迹面霜 30毫升">LA MER 海蓝之谜 奇迹面霜 30毫升</a>
					<span class="price m-price">
						<label class="fs12 lbl">包邮价</label><span class="symbol">¥</span>1099
					</span>
				</div>
			</li>
		</ul>
	</article>

</div>

<!-- footer -->
<div class="footer">
	<!-- nav -->
	<div class="footer-main">
		<div class="container">
			<ul class="bottomNav">
				<li>
					<a href="#">关于我们</a>
					|
				</li>
			</ul>
		</div>
	</div>

	<!-- Copyright -->
	<div class="container">
		<div class="copyright">Copyright © 2005-2013 哈姆雷特精品会员店 版权所有</div>
	</div>
</div></body>
</html>