@charset "utf-8";

/*
* 
 * 
 * 
 * 
 * Style - Cart
 * 
 */

/* ---------- Cart ---------- */
div.cart {
	margin-top: 10px;
}

div.cart .cart-error {
	padding: 40px 0;
	text-align: center;
	font-size: 14px;
}

div.cart .cart-error span {
	
}

div.cart .cart-error a {
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin: 20px auto 0;
	color: #fff;
	background-color: #ef0101;
}

div.cart .title {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}

div.cart .title b {
	float: left;
	font-size: 16px;
	padding-right: 20px;
	color: #666;
}

div.cart .title i {
	font-weight: 100;
}

div.cart .title div {
	float: left;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
	border-left: 1px solid #ddd;
	padding-left: 20px;
	font-size: 12px;
}

div.cart .title a {
	margin-left: 10px;
	color: #ef0101;
}

div.cart table {
	width: 100%;
	margin-bottom: 10px;
}

div.cart table th {
	line-height: 36px;
	padding-left: 10px;
	text-align: left;
	font-size: 14px;
	background-color: #fafafa;
}

div.cart table td {
	line-height: 20px;
	padding: 10px;
	padding-right: 0;
	border-bottom: 1px solid #ddd;
}

div.cart table td .del {
	text-decoration: line-through;
	color: #ccc;
}

div.cart table td.price {
	
}

div.cart table td.price a {
	position: absolute;
	margin-left: 10px;
	margin-top: 2px;
}

div.cart table td.price i {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 10px;
	border: 1px solid #ef0101;
	text-align: center;
	color: #ef0101;
}

div.cart table td.price i:before {
	position: absolute;
	top: 4px;
	left: 2px;
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-bottom: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #ef0101;
}

div.cart table td.price span {
	position: absolute;
	left: -84px;
	top: 30px;
	display: none;
	width: 160px;
	padding: 8px 10px;
	border: 1px solid #ef0101;
	background-color: #fff;
}

div.cart table td.price s {
	position: absolute;
	left: 50%;
	top: -14px;
	margin-left: -10px;
	display: block;
	width: 0;
	height: 0;
	border-top: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ef0101;
	padding-top: 4px;
}

div.cart table td.price s:before {
	position: absolute;
	top: 5px;
	left: -9px;
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-top: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
}

div.cart table td.price b {
	display: block;
	line-height: 20px;
	font-weight: 100;
}

div.cart table td.price strong {
	color: #ef0101;
}

div.cart table td.price a:hover span {
	display: block;
	z-index: 1;
}

div.cart table td .del-model {
	position: relative;
}

div.cart table td .del-model a.delete {
	
}

div.cart table td .del-model .float-box {
	position: absolute;
	left: 50%;
	top: 30px;
	display: none;
	margin-left: -71px;
	width: 120px;
	padding: 10px;
	border: 1px solid #ef0101;
	background-color: #fff;
}

div.cart table td .del-model i {
	position: absolute;
	left: 50%;
	top: -14px;
	margin-left: -10px;
	display: block;
	width: 0;
	height: 0;
	border-top: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ef0101;
	padding-top: 4px;
}

div.cart table td .del-model i:before {
	position: absolute;
	top: 5px;
	left: -9px;
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-top: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
}

div.cart table td .del-model p {
	display: block;
	margin-bottom: 10px;
}

div.cart table td .del-model a.btn-red,
div.cart table td .del-model a.btn-gray {
	float: left;
	display: block;
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

div.cart table td .del-model a.btn-red {
	color: #fff;
	background-color: #ef0101;
}

div.cart table td .del-model a.btn-gray {
	float: right;
	color: #ccc;
	background-color: #f3f3f3;
}

div.cart table td .show .float-box {
	display: block;
}

div.cart table img {
	width: 100px;
	height: 100px;
}

div.cart dl {
	height: 20px;
	line-height: 20px;
	padding: 4px 10px;
	margin-bottom: 10px;
	border: solid 1px #f1f1f1;
}

div.cart dt {
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

div.cart dd {
	float: left;
	margin-right: 10px;
}

div.cart .td-info a {
	display: block;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	margin-bottom: 10px;
}

div.cart .td-info p {
	height: 16px;
	line-height: 16px;
	overflow: hidden;
}

div.cart .quantity input {
	width: 30px;
	height: 20px;
	line-height: 20px;
	float: left;
	padding: 0px;
	text-align: center;
	ime-mode: disabled;
	border: 1px solid #dbdbdb;
}

div.cart .quantity div {
	height: 18px;
	float: left;
	padding-left: 2px;
}

div.cart .quantity span:hover {
	background-color: #f7f7f7;
	color: #ef0101;
}

div.cart .quantity .increase,
div.cart .quantity .decrease {
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	text-align: center;
	border: 1px solid #dbdbdb;
}

div.cart .quantity .increase {
	border-right: 0;
}

div.cart .quantity .decrease {
	border-left: 0;
}

div.cart .td-ctrl {
	text-align: center;
}

div.cart .td-ctrl a {
}

div.cart .td-ctrl a:hover {
	color: #ef0101;
}

div.cart .td-ctrl a.delete {
	color: #999;
}

div.cart .td-ctrl a.add-wait {
	display: block;
	color: #fff;
	background-color: #ef0101;
}

div.cart .subtotal {
	color: #ef0101;
}

.total-box {
	width: 100%;
	height: 54px;
}
div.cart .total {
	background-color: #fff;
	box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
	background-color: rgba(0,0,0,.7);
}

div.cart .total-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
	background-color: rgba(0,0,0,.7);
}

div.cart .total em {
	margin-right: 14px;
	color: #f60;
	font-style: normal;
}

div.cart .total strong {
	float: right;
	color: #fff;
	font-size: 26px;
	font-weight: 100;
	margin-left: 10px;
}

div.cart .total .total-left {
	float: left;
	width: 240px;
	height: 54px;
	line-height: 54px;
	text-align: left;
	color: #fff;
}

div.cart .total .total-left label {
	padding-left: 10px;
}

div.cart .total .total-left a {
	margin-left: 10px;
	color: #fff;
}

div.cart .total .total-left label:hover,
div.cart .total .total-left a:hover {
	color: #ef0101;
}

div.cart .total .total-right {
	
}

div.cart .total .total-right .content {
	float: right;
	margin-right: 10px;
}

div.cart .total .total-right .price {
	float: right;
	height: 54px;
	line-height: 54px;
	color: #fff;
}

div.cart .total .total-right .msg {
	display: none;
	float: right;
	width: 250px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #fff9c9;
	clear: both;
	margin-top: 8px;
}


div.cart .total .total-right {
	
}

div.cart .clear {
	margin-right: 10px;
}

div.cart .submit {
	float: right;
	display: block;
	width: 130px;
	height: 40px;
	line-height: 40px;
	margin-top: 7px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	background-color: #ef0101;
}
