@charset "utf-8";

/*
* 
 * 
 * 
 * 
 * Style - Member
 * 
 */

/* ---------- Member ---------- */

div.container .span18 {
    width: 780px;
}

div.member {
	margin-top: 10px;
}

div.member div.info {
	margin-bottom: 10px;
}

div.member div.info .top {
	height: 10px;
	overflow: hidden;
	background: url(../images/member.gif) 0px 0px no-repeat;
}

div.member div.info .content {
	border-left: 1px solid #d4d4d4;
	border-right: 2px solid #f0f0f0;
}

div.member div.info .content p {
	line-height: 26px;
	padding-left: 10px;
	border-right: 1px solid #d4d4d4;
}

div.member div.info .bottom {
	height: 20px;
	overflow: hidden;
	background: url(../images/member.gif) 0px -30px no-repeat;
}

div.member div.menu {
	margin-bottom: 10px;
	width: 148px;
	border: 1px solid #ddd;
	float: left;
	margin-right: 20px;
}

div.member div.menu .title {
	height: 32px;
	line-height: 32px;
	padding-left: 12px;
	font-size: 16px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	background-color: #f3f3f3;
}

div.member div.menu .content {

}

div.member div.menu dl {
	line-height: 30px;
	padding: 0 12px;
}

div.member div.menu dt {
	padding-top: 4px;
	color: #999;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}

div.member div.menu dd {
	padding-left: 20px;
}

div.member div.menu dd .current {
	font-weight: bold;
}

div.member div.menu .bottom {
	height: 10px;
}

div.member div.list {
	margin-bottom: 10px;
}

div.member div.list .bar {
	height: 30px;
	padding: 6px 0px 5px 0px;
	border-top: 1px solid #e4e4e4;
}

div.member div.list .title {
	height: 30px;
	line-height: 30px;
	padding-left: 14px;
	font-weight: bold;
}

div.member div.list .title span {
	color: #999999;
}

div.member div.list .thumbnail {
	width: 60px;
	height: 60px;
}

div.member div.list p {
	padding: 10px 0px;
	color: #999999;
	text-align: center;
}

div.member table.list {
	width: 100%;
}

div.member table.list th {
	height: 20px;
	padding: 10px 0;
	color: #888;
	white-space: nowrap;
	background-color: #f3f3f3;
}

div.member table.list td {
	height: 40px;
	text-align: center;
	padding: 12px 0;
	border-bottom: 1px solid #f1f1f1;
}

div.member table.list .last td {
	border-bottom: none;
}

div.member table.list .gray {
	color: #999;
}

div.member table.list .red {
	color: #ef0101;
}

div.member table.list .btn-pay {
	display: block;
	width: 80px;
	height: 20px;
	line-height: 20px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background-color: #ef0101;
}

div.member div.input {
}

div.member div.input .title {
	height: 30px;
	line-height: 30px;
	padding-left: 14px;
	margin-bottom: 10px;
	font-weight: bold;
	border-bottom: 1px solid #e4e4e4;
}

div.member table.input {
	width: 100%;
}

div.member table.input th {
	width: 100px;
	line-height: 30px;
	padding: 4px 10px 4px 0px;
	font-weight: normal;
	text-align: right;
	color: #888888;
	white-space: nowrap;
}

div.member table.input td {
	line-height: 30px;
	padding: 4px;
}

/* 首页 */
div.member .index .top {
	margin-bottom: 10px;
	overflow: hidden;
}

div.member .index .top .t-left,
div.member .index .top .t-right {
	width: 380px;
	height: 200px;
	border: 1px solid #ddd;
}

div.member .index .top .t-left {
	float: left;
}

div.member .index .top .t-left .user-info {
	padding: 25px;
	overflow: hidden;
}

div.member .index .top .t-left .user-img {
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 100%;
	background: url(../images/img_user.png) no-repeat;
	background-size: 100%;
	margin-right: 10px;
}

div.member .index .top .t-left .order-info {
	width: 100%;
	height: 50px;
}

div.member .index .top .t-left ul {
	padding-left: 25px;
}

div.member .index .top .t-left li {
	float: left;
	width: 60px;
	height: 50px;
}

div.member .index .top .t-left img {
	width: 100px;
	height: 100px;
}

div.member .index .top .t-right {
	float: right;
}

div.member .order .dialog {
	width: 500px;
	height: 280px;
	line-height: 24px;
	padding: 0px 10px;
	margin-left: -266px;
	display: none;
	position: fixed;
	_position: absolute;
	top: 25%;
	_top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px");
	left: 50%;
	z-index: 100;
	color: #888888;
	border: solid 6px #ededed;
	background-color: #ffffff;
}

div.member .order .dialog .close {
	width: 12px;
	height: 12px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: url(../images/member.gif) 0px -90px no-repeat;
}

div.member .order .dialog .close:hover {
	background-position: -30px -90px;
}

div.member .order .dialog ul {
	height: 30px;
	line-height: 30px;
	clear: both;
	border-bottom: 1px solid #e4e4e4;
}

div.member .order .dialog li {
	width: 140px;
	float: left;
}

div.member .order .dialog .deliveryContent {
	height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
}

div.member .order .dialog table {
	width: 100%;
}

div.member .order .dialog table th {
	width: 140px;
	font-weight: normal;
	text-align: left;
}

div.member .order .top {
	padding: 0px 10px;
	margin-bottom: 10px;
	border: 1px solid #ef0101;
	overflow: hidden;
}

div.member .order .top span {
	width: 210px;
	height: 26px;
	line-height: 26px;
	display: block;
	float: left;
	padding: 10px 0px;
	font-size: 14px;
	font-weight: bold;
}

div.member .order .top .handle {
	width: 280px;
	float: right;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}

div.member .order .top strong {
	font-size: 14px;
	color: #ef0101;
	font-weight: bold;
}

div.member .order .top .tips {
	display: none;
	height: 30px;
	line-height: 30px;
	clear: both;
	color: #888888;
	border-top: 1px dotted #eed97c;
}

div.member .order .info {
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #e9e9e9;
}

div.member .order .info th {
	width: 120px;
	line-height: 28px;
	padding-right: 10px;
	color: #888888;
	font-weight: normal;
	text-align: right;
}

div.member .order .info td {
	line-height: 28px;
}

div.member .order .orderItem {
	width: 100%;
}

div.member .order .orderItem th {
	padding: 10px 0;
	line-height: 20px;
	background-color: #f3f3f3;
}

div.member .order .orderItem td {
	text-align: center;
	line-height: 30px;
	padding: 10px 0;
	border-bottom: 1px solid #e9e9e9;
}

div.member .message {
	padding: 0px 10px 10px 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e9e9e9;
}

div.member .message .title {
	height: 30px;
	line-height: 30px;
	padding-left: 14px;
	margin-bottom: 6px;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	background: url(../images/member.gif) 0px -60px no-repeat;
}

div.member .message dl {
	max-height: 600px;
	_height: expression(document.body.clientWidth >= 600 ? "600px": "auto");
	padding: 0px 10px;
	overflow: auto;
	position: relative;
}

div.member .message dt strong {
	line-height: 36px;
	margin-right: 10px;
	color: #0066cc;
}

div.member .message dt span {
	line-height: 36px;
	color: #bbbbbb;
}

div.member .message dd {
	padding: 10px 0px;
	color: #666666;
	overflow: hidden;
	*zoom: 1;
	word-wrap: break-word;
	word-break: normal;
}

div.member .message dd span {
	line-height: 26px;
	float: right;
	clear: both;
	padding: 0px 10px;
	color: #bbbbbb;
}

div.member .message dd div.left {
	float: left;
	position: relative;
	border: 1px solid #d8e1ea;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 2px #e0e0e0;
	-moz-box-shadow: 0px 1px 2px #e0e0e0;
	box-shadow: 0px 1px 2px #e0e0e0;
	background-color: #f8fdff;
	background-image: -webkit-gradient(linear, center bottom, center top, from(#ecf9ff), to(#f8fdff));
	background-image: -moz-linear-gradient(center bottom, #ecf9ff, #f8fdff);
	background-image: -o-linear-gradient(center bottom, #ecf9ff, #f8fdff);
	background-image: linear-gradient(center bottom, #ecf9ff, #f8fdff);
}

div.member .message dd div.left .arrow {
	width: 14px;
	height: 8px;
	position: absolute;
	left: 20px;
	top: -8px;
	background: url(../images/message.gif) 0px 0px no-repeat;
}

div.member .message dd div.right {
	float: right;
	position: relative;
	border: 1px solid #e0e0e0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 2px #e0e0e0;
	-moz-box-shadow: 0px 1px 2px #e0e0e0;
	box-shadow: 0px 1px 2px #e0e0e0;
	background-color: #fcfcfc;
	background-image: -webkit-gradient(linear, center bottom, center top, from(#fafafa), to(#ffffff));
	background-image: -moz-linear-gradient(center bottom, #fafafa, #ffffff);
	background-image: -o-linear-gradient(center bottom, #fafafa, #ffffff);
	background-image: linear-gradient(center bottom, #fafafa, #ffffff);
}

div.member .message dd div.right .arrow {
	width: 14px;
	height: 8px;
	position: absolute;
	right: 20px;
	bottom: -8px;
	_bottom: -14px;
	background: url(../images/message.gif) -30px 0px no-repeat;
}

div.member .message dd p {
	line-height: 24px;
	min-width: 300px;
	max-width: 600px;
	padding: 6px;
	color: #888888;
}

div.member .deposit .paymentPlugin {
	padding: 10px;
	border: solid 4px #e4e4e4;
}

div.member .deposit .paymentPlugin div {
	float: left;
	margin: 4px 14px;
}

div.member .deposit .paymentPlugin input {
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 6px;
	margin-top: 9px;
}

div.member .deposit .paymentPlugin em {
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	padding: 2px 8px;
	color: #666666;
	font-style: normal;
	overflow: hidden;
	cursor: pointer;
	border: solid 1px #dddddd;
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
}

div.member .deposit .paymentPlugin em:hover {
	border: solid 1px #ffaa33;
}

/* 会员充值 */
div.member .recharge {
	margin-bottom: 10px;
}

div.member .recharge ul {
	width: 1000px;
	overflow: hidden;
}
div.member .recharge li {
	position: relative;
	width: 294px;
	float: left;
	padding-bottom: 6px;
	margin-right: 28px;
	margin-bottom: 6px;
	overflow: hidden;
	cursor: pointer;
	border: solid 2px #ddd;
	font-size: 14px;
}

div.member .recharge li:hover {
	border: solid 2px #ef0101;
}

div.member .recharge li.selected {
	border: solid 2px #ef0101;
	background: url(../images/cart.gif) right bottom no-repeat;
}

div.member .recharge li div {
	text-align: center;
}

div.member .recharge li div.tit {
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 18px;
}

div.member .recharge li div.txt {
	height: 40px;
	line-height: 20px;
	padding-top: 10px;
	color: #666;
	font-size: 12px;
}

div.member .recharge li div.txt span {
	display: block;
	color: #ef0101;
}

div.member .recharge li div.price {
	height: 40px;
	line-height: 40px;
	color: #ef0101;
	font-size: 32px;
}

div.member .recharge li.member_m {
	border: solid 2px #fa0;
}
div.member .recharge li.member_m .tit {
	background-color: #fa0;
}
div.member .recharge li.member_y {
	border: solid 2px #ef0101;
}
div.member .recharge li.member_y .tit {
	background-color: #ef0101;
}
div.member .recharge li.member_d {
	border: solid 2px #46ab07;
}
div.member .recharge li.member_d .tit {
	background-color: #46ab07;
}

div.member .tuijian {
	width: 450px;
	margin: 0 auto;
	padding-top: 20px;
}

div.member .tuijian dl {
	overflow: hidden;
}
div.member .tuijian dt,
div.member .tuijian dd {
	float: left;
	height: 32px;
	line-height: 32px;
	padding: 5px 0;
}

div.member .tuijian dt {
	width: 110px;

	font-size: 14px;
}

div.member .tuijian dt span {
	background-color: #ef0101;
	margin-left: 4px;
	color: #fff;
	padding: 0 2px;
}

div.member .tuijian dd {
	width: 340px;
}

div.member .tuijian dd input {
	width: 108px;
	height: 20px;
	border: 1px solid #ddd;
	padding: 5px 10px;
}

div.member .tuijian .btn-box {
	padding-left: 110px;
	margin-top: 10px;
	overflow: hidden;
}

div.member .tuijian .btn-box a {
	display: block;
	float: left;
	font-size: 14px;
}

div.member .tuijian .btn-box .btn-red {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background-color: #ef0101;
}

div.member .tuijian .btn-box .btn-null {
	line-height: 30px;
	margin-left: 20px;
	color: #039;
}

div.member .labelFree {
	padding-left: 110px;
	margin-top: 10px;
}

div.member .labelFree .secondary a {
	color: #039;
}

.member-msg {
	height: 40px;
    line-height: 40px;
    padding: 30px 0;
}

div.member-msg .icon-sus {
    display: block;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    padding-left: 50px;
    background: url(../images/icon_success.png) no-repeat;
    background-size: 40px;
    font-size: 20px;
}



