<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" >
<title>订单信息</title>

<link rel="icon" href="http://static.hamlet365.com/resources/shop/images/favicon.ico" type="image/x-icon" />
<link href="http://static.hamlet365.com/resources/shop/css/common.css?v=1445273315758" rel="stylesheet" type="text/css" />
<link href="http://static.hamlet365.com/resources/shop/css/order.css?v=1445273315758" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://static.hamlet365.com/resources/shop/js/jquery.js"></script>
<script type="text/javascript" src="http://static.hamlet365.com/resources/shop/js/jquery.lSelect.js"></script>
<script type="text/javascript" src="http://static.hamlet365.com/resources/shop/js/jquery.validate.js"></script>
<script type="text/javascript">

var hamlet = {
	base: "",
	locale: "zh_CN"
};

var setting = {
	priceScale: "2",
	priceRoundType: "roundHalfUp",
	currencySign: "￥",
	currencyUnit: "元",
	uploadImageExtension: "jpg,jpeg,bmp,gif,png",
	uploadFlashExtension: "swf,flv",
	uploadMediaExtension: "swf,flv,mp3,wav,avi,rm,rmvb",
	uploadFileExtension: "zip,rar,7z,doc,docx,xls,xlsx,ppt,pptx"
};

var messages = {
	"shop.message.success": "操作成功",
	"shop.message.error": "操作错误",
	"shop.dialog.ok": "确&nbsp;&nbsp;定",
	"shop.dialog.cancel": "取&nbsp;&nbsp;消",
	"shop.dialog.deleteConfirm": "您确定要删除吗？",
	"shop.dialog.clearConfirm": "您确定要清空吗？",
	"shop.validate.required": "必填",
	"shop.validate.email": "E-mail格式错误",
	"shop.validate.url": "网址格式错误",
	"shop.validate.date": "日期格式错误",
	"shop.validate.dateISO": "日期格式错误",
	"shop.validate.pointcard": "信用卡格式错误",
	"shop.validate.number": "只允许输入数字",
	"shop.validate.digits": "只允许输入零或正整数",
	"shop.validate.minlength": "长度不允许小于{0}",
	"shop.validate.maxlength": "长度不允许大于{0}",
	"shop.validate.rangelength": "长度必须在{0}-{1}之间",
	"shop.validate.min": "不允许小于{0}",
	"shop.validate.max": "不允许大于{0}",
	"shop.validate.range": "必须在{0}-{1}之间",
	"shop.validate.accept": "输入后缀错误",
	"shop.validate.equalTo": "两次输入不一致",
	"shop.validate.remote": "输入错误",
	"shop.validate.integer": "只允许输入整数",
	"shop.validate.positive": "只允许输入正数",
	"shop.validate.negative": "只允许输入负数",
	"shop.validate.decimal": "数值超出了允许范围",
	"shop.validate.pattern": "格式错误",
	"shop.validate.extension": "文件格式错误"
};
</script><script src="http://static.hamlet365.com/v2/js/common-shop.js?v=1445273315758"></script>
<script type="text/javascript">

$().ready(function() {

	var $dialogOverlay = $("#dialogOverlay");
	var $receiverForm = $("#receiverForm");
	var $receiver = $("#receiver ul");
	var $otherReceiverButton = $("#otherReceiverButton");
	var $newReceiverButton = $("#newReceiverButton");
	var $newReceiver = $("#newReceiver");
	var $areaId = $("#areaId");
	var $newReceiverSubmit = $("#newReceiverSubmit");
	var $newReceiverCancelButton = $("#newReceiverCancelButton");
	var $orderForm = $("#orderForm");
	var $receiverId = $("#receiverId");
	var $paymentMethodId = $("#paymentMethod :radio");
	var $shippingMethodId = $("#shippingMethod :radio");
	var $isInvoice = $("#isInvoice");
	var $invoiceTitleTr = $("#invoiceTitleTr");
	var $invoiceTitle = $("#invoiceTitle");
	var $code = $("#code");
	var $couponCode = $("#couponCode");
	var $couponName = $("#couponName");
	var $couponButton = $("#couponButton");
	var $useBalance = $("#useBalance");
	var $freight = $("#freight");
	var $promotionDiscount = $("#promotionDiscount");
	var $couponDiscount = $("#couponDiscount");
	var $tax = $("#tax");
	var $amountPayable = $("#amountPayable");
	var $submit = $("#submit");
	var shippingMethodIds = {};
	var $address_edit = $('.address_edit');
	
	
	
	//修改头部样式
	$('.head-cart-nav .step ul li:first').next().addClass('current');
	
	
	shippingMethodIds["1"] = [ "1", "2" ]; shippingMethodIds["2"] = [ "1", "2" ]; shippingMethodIds["3"] = [ "2" ];	
	
	// 地区选择
	$areaId.lSelect({
		url: "/common/area.action"
	});
	
	// 收货地址
	$("#receiver li").live("click", function() {
		var $this = $(this);
		$receiverId.val($this.attr("receiverId"));
		$("#receiver li").removeClass("selected");
		$this.addClass("selected");
			if ($.trim($invoiceTitle.val()) == "") {
				$invoiceTitle.val($this.find("strong").text());
			}
	});
	
	// 其它收货地址
	$otherReceiverButton.click(function() {
		$otherReceiverButton.hide();
		$newReceiverButton.show();
		$("#receiver li").show();
	});
	
	// 新收货地址
	$newReceiverButton.click(function() {
		$('#newReceiverSubmit').show();
		$('#updateReceiverButton').hide();
		$dialogOverlay.show();
		$newReceiver.parent().show();
		$('#consignee',$newReceiver.parent()).val('');
		$('#areaId',$newReceiver.parent()).val('');
		$('#address',$newReceiver.parent()).val('');
		$('#zipCode',$newReceiver.parent()).val('');
		$('#phone',$newReceiver.parent()).val('');
		$('select[name="areaId_select"]').remove();
		$areaId.lSelect({
			url: "/common/area.action"
		});
			
	});
	
	var modifyReceiverId;
	var $editLi;
	// 修改收货地址
	$address_edit.click(function(){
		$areaId.lSelect({
			url: "/common/area.action"
		});
		$('#newReceiverSubmit').hide();
		$('#updateReceiverButton').show();
		$dialogOverlay.show();
		$newReceiver.parent().show();
		var receiverId = $(this).parent().attr('receiverid');
		modifyReceiverId = receiverId;
		var $this = $(this);
		$editLi = $this;
		$.ajax({
				url: "get_receiver.action",
				type: "POST",
				data: {receiverId : receiverId},
				dataType: "json",
				cache: false,
				success: function(data) {
					if (data.message.type == "success") {
						$('#consignee').val(data.receiver.consignee);
						if(data.provinceArea != null){
							$('select[name="areaId_select"]').val(data.provinceArea.id);
							$('select[name="areaId_select"]').change();
							
							$('select[name="areaId_select"]:eq(1)').val(data.parentArea.id);
							$('select[name="areaId_select"]:eq(1)').change();
							
							$('select[name="areaId_select"]:eq(2)').val(data.area.id);
							$('select[name="areaId_select"]:eq(2)').change();
						}else{
								
							$('select[name="areaId_select"]:eq(0)').val(data.parentArea.id);
							$('select[name="areaId_select"]:eq(0)').change();
							
							$('select[name="areaId_select"]:eq(1)').val(data.area.id);
							$('select[name="areaId_select"]:eq(1)').change();
						}
						
						$('#areaId').val(data.area.id);
						$('#address').val(data.receiver.address);
						$('#zipCode').val(data.receiver.zipCode);
						$('#phone').val(data.receiver.phone);
						$('input[name="isDefault"]').attr('checked',data.receiver.isDefault);
						$('input[name="_isDefault"]').val(data.receiver.isDefault);
						
					} else {
						$.message(data.message);
					}
				}
			});
			
	});
	
	$('#updateReceiverButton').click(function(){
			var $this = $(this);
			// 表单验证
			$.ajax({
				url: "/member/order/update_receiver.action?receiverId="+modifyReceiverId,
				type: "POST",
				data: $receiverForm.serialize(),
				dataType: "json",
				success: function(data) {
					if (data.message.type == "success") {
						$editLi.prev().html(data.receiver.phone)
						$editLi.prev().prev().html("<span>"+data.receiver.address+"</span>");
						$editLi.prev().prev().prev().html("<span>"+data.receiver.areaName+"</span>");
						$editLi.prev().prev().prev().prev().html("<strong>"+data.receiver.consignee+"</strong>收");
						$dialogOverlay.hide();
						$newReceiver.parent().hide();
					} else {
						$.message(data.message);
					}
				}
			});
		});
		
	
	// 新收货地址取消
	$newReceiverCancelButton.click(function() {
		$dialogOverlay.hide();
		$newReceiver.parent().hide();
	});
	
	// 计算
	function calculate() {
		$.ajax({
			url: "calculate.action",
			type: "POST",
			data: $orderForm.serialize(),
			dataType: "json",
			cache: false,
			success: function(data) {
				if (data.message.type == "success") {
					$freight.text(currency(data.freight, true));
					if (data.promotionDiscount > 0) {
						$promotionDiscount.text(currency(data.promotionDiscount, true));
						$promotionDiscount.parent().show();
					} else {
						$promotionDiscount.parent().hide();
					}
					if (data.couponDiscount > 0) {
						$couponDiscount.text(currency(data.couponDiscount, true));
						$couponDiscount.parent().show();
					} else {
						$couponDiscount.parent().hide();
					}
					if (data.tax > 0) {
						$tax.text(currency(data.tax, true));
						$tax.parent().show();
					} else {
						$tax.parent().hide();
					}
					$amountPayable.text(currency(data.amountPayable, true, true));
				} else {
					$.message(data.message);
					setTimeout(function() {
						location.reload(true);
					}, 3000);
				}
			}
		});
	}
	
	// 支付方式
	//$paymentMethodId.click(function() {
	//	var $this = $(this);
	//	if ($this.prop("disabled")) {
	//		return false;
	//	}
	//	$this.closest("dd").addClass("selected").siblings().removeClass("selected");
	//	var paymentMethodId = $this.val();
	//	$shippingMethodId.each(function() {
	//		var $this = $(this);
	//		if ($.inArray($this.val(), shippingMethodIds[paymentMethodId]) >= 0) {
	//			$this.prop("disabled", false);
	//		} else {
	//			$this.prop("disabled", true).prop("checked", false).closest("dd").removeClass("selected");
	//		}
	//	});
	//	calculate();
	//});
	
	// 配送方式
	$shippingMethodId.click(function() {
		var $this = $(this);
		if ($this.prop("disabled")) {
			return false;
		}
		$this.closest("dd").addClass("selected").siblings().removeClass("selected");
		calculate();
	});
	
	// 开据发票
	$isInvoice.click(function() {
		$invoiceTitleTr.toggle();
		calculate();
	});
	
	// 优惠券
	$couponButton.click(function() {
		if ($code.val() == "") {
			if ($.trim($couponCode.val()) == "") {
				return false;
			}
			$.ajax({
				url: "coupon_info.action",
				type: "POST",
				data: {code : $couponCode.val()},
				dataType: "json",
				cache: false,
				beforeSend: function() {
					$couponButton.prop("disabled", true);
				},
				success: function(data) {
					if (data.message.type == "success") {
						$code.val($couponCode.val());
						$couponCode.hide();
						$couponName.text(data.couponName).show();
						$couponButton.text("取 消");
						calculate();
					} else {
						$.message(data.message);
					}
				},
				complete: function() {
					$couponButton.prop("disabled", false);
				}
			});
		} else {
			$code.val("");
			$couponCode.show();
			$couponName.hide();
			$couponButton.text("确 认");
			calculate();
		}
	});
	
	// 使用余额
	$useBalance.click(function() {
		calculate();
	});
	
	// 订单提交
	$submit.click(function() {
		var $checkedPaymentMethodId = $paymentMethodId.filter(":checked");
		var $checkedShippingMethodId = $shippingMethodId.filter(":checked");
		if ($checkedPaymentMethodId.size() == 0) {
			$.message("warn", "请选择支付方式");
			return false;
		}
		//if ($checkedShippingMethodId.size() == 0) {
		//	$.message("warn", "请选择配送方式");
		//	return false;
		//}
			if ($isInvoice.prop("checked") && $.trim($invoiceTitle.val()) == "") {
				$.message("warn", "请填写发票抬头");
				return false;
			}
		$.ajax({
			url: "create.action",
			type: "POST",
			data: $orderForm.serialize(),
			dataType: "json",
			cache: false,
			beforeSend: function() {
				$submit.prop("disabled", true);
			},
			success: function(message) {
				if (message.type == "success") {
					location.href = "payment.action?sn=" + message.content;
				} else {
					$.message(message);
					setTimeout(function() {
						location.reload(true);
					}, 3000);
				}
			},
			complete: function() {
				$submit.prop("disabled", false);
			}
		});
	});
	
	// 表单验证
	$receiverForm.validate({
		rules: {
			consignee: "required",
			areaId: "required",
			address: "required",
			zipCode: "required",
			phone: "required"
		}
		,
		submitHandler: function(form) {
			var needB = false;
			$('select[name="areaId_select"]').each(function(){
				if($(this).val() == '' || $(this).val() == 0){
					$(this).parent().append('<label for="areaId" class="fieldError">必填</label>')
					needB = true;
				}
			});
			
			if(needB){
				return;
			}
			$.ajax({
				url: "/member/order/save_receiver.action",
				type: "POST",
				data: $receiverForm.serialize(),
				dataType: "json",
				cache: false,
				beforeSend: function() {
					$newReceiverSubmit.prop("disabled", true);
				},
				success: function(data) {
					if (data.message.type == "success") {
						$receiverId.val(data.receiver.id);
						$("#receiver li").removeClass("selected");
						if($('input[name="_isDefault"]').val() == true){
							$receiver.prepend('<li class="selected" receiverId="' + data.receiver.id + '"><div><strong>' + data.receiver.consignee + '<\/strong> 收<\/div><div><span>' + data.receiver.areaName  +'</span></div><div><span>'+ data.receiver.address + '<\/span><\/div><div>' + data.receiver.phone + '<\/div><\/li>');
						}else{
							$('li[name="address_btn"]').before('<li receiverId="' + data.receiver.id + '"><div><strong>' + data.receiver.consignee + '<\/strong> 收<\/div><div><span>' + data.receiver.areaName +'</span></div><div><span>'+ data.receiver.address + '<\/span><\/div><div>' + data.receiver.phone + '<\/div><\/li>');
						}
						$dialogOverlay.hide();
						$newReceiver.parent().hide();
							if ($.trim($invoiceTitle.val()) == "") {
								$invoiceTitle.val(data.receiver.consignee);
							}
					} else {
						$.message(data.message);
					}
				},
				complete: function() {
					$newReceiverSubmit.prop("disabled", false);
				}
			});
		}
	});
	
});
</script>
</head>
<body>
<script type="text/javascript">
$().ready(function() {

	var $headerLogin = $("#headerLogin");
	var $headerRegister = $("#headerRegister");
	var $headerUsername = $("#headerUsername");
	var $headerLogout = $("#headerLogout");
	var $productSearchForm = $("#productSearchForm");
	var $keyword = $("#productSearchForm input");
	var defaultKeyword = "";
	
	var username = getCookie("username");
	if (username != null) {
		$headerUsername.text("您好, " + username).show();
		$headerLogout.show();
	} else {
		$headerLogin.show();
		$headerRegister.show();
	}
	
	$keyword.focus(function() {
		if ($keyword.val() == defaultKeyword) {
			$keyword.val("");
		}
	});
	
	$keyword.blur(function() {
		if ($keyword.val() == "") {
			$keyword.val(defaultKeyword);
		}
	});
	
	$productSearchForm.submit(function() {
		if ($.trim($keyword.val()) == "" || $keyword.val() == defaultKeyword) {
			return false;
		}
	});

});
</script>

<!-- header -->
<div class="header header-simp">
	<!-- ad -->
	<div class="layout">
		<div class="headerAd"></div>
	</div>

	<!-- top -->
	<div class="head-top">
		<div class="layout">
			<ul class="userinfo">
				<li class="welcome"><span></span> 欢迎!</li>
				<li class="login">
					<a id="headerLogin" style="display:none" href="/login.action">登录</a>
					<a id="headerRegister" style="display:none" href="/register.action">注册</a>
					<a id="headerUsername" style="display:none"></a>
					<a id="headerLogout" style="display:none" href="/logout.action">[退出]</a>
				</li>

					<li class="buy-protect bldr icon-phone">
						<span>
							客服热线:
							<b class="red">400-8888888</b>
						</span>
					</li>

						<li class="buy-protect bldr">
							<a href="/article/list/3.action" target="_blank">购物指南</a>
						</li>
						<li class="buy-protect bldr">
							<a href="/member/order/list.action" target="_blank">会员中心</a>
						</li>
						<li class="buy-protect bldr">
							<a href="/member/order/list.action" target="_blank">我的订单</a>
						</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="head-main layout">
		<div class="head-logo">
			<a class="logo-ule" href="/" style="background-image: url(http://static.hamlet365.com/upload/image/logo.gif)"></a>
		</div>

		<div class="head-cart-nav">
			<div class="step">
				<ul>
					<li><i>1.</i><span>查看购物车</span></li>
					<li><i>2.</i><span>订单信息</span></li>
					<li><i>3.</i><span>完成订单</span></li>
				</ul>
			</div>
		</div>

	</div>
</div>

<div id="dialogOverlay" class="dialogOverlay"></div>

<div class="container order">
	<div class="span24">
		<div class="title">
			<b>确认订单</b>
			<div>
				成为会员，最高立减 <span id="sacleMoney" class="red">0</span>元。
				<a href="" target="_blank">立即开通&gt;&gt;</a>
			</div>
		</div>
		<div class="info">
			<form id="receiverForm" action="save_receiver.action" method="post">
				<div id="receiver" class="receiver clearfix">
					<div class="title">
						<i>*</i>
						收货地址
						<a href="/cart/list.action" class="gocart">地址簿</a>
					</div>
					<ul>
						<li class="selected" receiverId="6">
							<div>
								<strong>jimmy</strong> 收
							</div>
							<div>
								<span>上海市虹口区</span>
							</div>
							<div>
								<span>jimmy123</span>
							</div>
							<div>
								13585575633
							</div>
							<a class="address_edit" href="javascript:;">修改</a>
						</li>
						<li name="address_btn">
							<a href="javascript:;" id="newReceiverButton" class="add_address">增加新地址</a>
						</li>
					</ul>
					<p>
					</p>
				</div>

				<div class="newReceiver hidden">
					<div class="title">编辑收货人信息</div>
					<table id="newReceiver">
						<tr>
							<th width="100">
								<span class="requiredField">*</span>收货人:
							</th>
							<td>
								<input type="text" id="consignee" name="consignee" class="text" maxlength="200" />
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredField">*</span>地区:
							</th>
							<td>
								<span class="fieldSet">
									<input type="hidden" id="areaId" name="areaId" />
								</span>
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredField">*</span>地址:
							</th>
							<td>
								<input type="text" id="address" name="address" class="text" maxlength="200" />
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredField">*</span>邮编:
							</th>
							<td>
								<input type="text" id="zipCode" name="zipCode" class="text" maxlength="200" />
							</td>
						</tr>
						<tr>
							<th>
								<span class="requiredField">*</span>手机/电话:
							</th>
							<td>
								<input type="text" id="phone" name="phone" class="text" maxlength="200" />
							</td>
						</tr>
						<tr>
							<th>
								默认:
							</th>
							<td>
								<input type="checkbox" name="isDefault" value="true" />
								<input type="hidden" name="_isDefault" value="false" />
							</td>
						</tr>
						<tr>
							<th>&nbsp;
								
							</th>
							<td>
								<input type="submit" id="newReceiverSubmit" class="button" value="确&nbsp;&nbsp;定" />
								<input type="button" id="updateReceiverButton" class="button" value="确&nbsp;&nbsp;定" style="display:none"/>
								<input type="button" id="newReceiverCancelButton" class="button" value="取&nbsp;&nbsp;消" />
							</td>
						</tr>
					</table>
				</div>
			</form>
			<form id="orderForm" action="create.action" method="post">
				<input type="hidden" id="receiverId" name="receiverId" value="6" />
				<input type="hidden" id="idlist" name="idlist" value="168,169,210" />
				<input type="hidden" name="cartToken" value="aabd64db40e3d5ff98c7dc4dc10bb4ed" />
				<div class="title"><i>*</i>支付方式</div>


				<dl class="gold" style="display:none">
					<dt><input type="checkbox" id="userGold" name="usergold"></dt>
					<dd>
						使用金币
						<span>
							<input type="text" name="memo" maxlength="200" />
							(可用200金币)
							<b>-¥ 9.00</b>
						</span>
					</dd>
				</dl>
				<dl class="coupon" style="display:none">
					<dt><input type="checkbox" id="userCoupon" name="usercoupon"></dt>
					<dd>
						使用优惠券
						<span>
							<select>
								<option value="1">满1000元优惠200元</option>
								<option value="2">满100元优惠15元</option>
								<option value="3">满50元优惠5元</option>
							</select>
							<b>-¥ 9.00</b>
						</span>
					</dd>
				</dl>
				<div class="msg">您还需支付 <span id="balance">￥338.44</span> 元，您可选择以下方式继续支付：</div>

				<dl id="paymentMethod" class="select">
						<dd>
							<label for="paymentMethod_1">
								<input type="radio" id="paymentMethod_1" name="paymentMethodId" value="1" checked="true"/>
								<span>
										<em style="border-right: none; background: url(http://static.hamlet365.com/demo-image/3.0/payment_method/online.gif) center no-repeat;">&nbsp;</em>
									<strong>网上支付</strong>
								</span>
								<span>支持支付宝、财付通、以及大多数网上银行支付</span>
							</label>
						</dd>
						<dd>
							<label for="paymentMethod_2">
								<input type="radio" id="paymentMethod_2" name="paymentMethodId" value="2" />
								<span>
										<em style="border-right: none; background: url(http://static.hamlet365.com/demo-image/3.0/payment_method/remittance.gif) center no-repeat;">&nbsp;</em>
									<strong>银行汇款</strong>
								</span>
								<span>支持工行、建行、农行汇款支付，收款时间一般为汇款后的1-2个工作日</span>
							</label>
						</dd>
						<dd>
							<label for="paymentMethod_3">
								<input type="radio" id="paymentMethod_3" name="paymentMethodId" value="3" />
								<span>
										<em style="border-right: none; background: url(http://static.hamlet365.com/demo-image/3.0/payment_method/cash_on_delivery.gif) center no-repeat;">&nbsp;</em>
									<strong>货到付款</strong>
								</span>
								<span>由快递公司送货上门，您签收后直接将货款交付给快递员</span>
							</label>
						</dd>
				</dl>

				<div class="title">
					商品信息
					<a href="/cart/list.action" class="gocart">返回购物车>></a>
				</div>
				<table class="product">
					<tr>
						<th width="120">图片</th>
						<th width="250">商品</th>
						<th width="110">价格</th>
						<th width="110">数量</th>
						<th width="110">重量 (kg)</th>
						<th width="110">小计</th>
					</tr>
						<tr>
							<td>
								<img src="http://7xkqwg.com1.z0.glb.clouddn.com/p-1441689827208-36831-thumbnail.jpg" alt="费罗伦乔慕松露巧克力 礼盒 1000g 法国原装进口 测试商品" />
							</td>
							<td>
								<a href="/product/content/201507/205.html" title="费罗伦乔慕松露巧克力 礼盒 1000g 法国原装进口 测试商品" target="_blank">费罗伦乔慕松露巧克力 礼盒 1000g 法国原装进口 测试商...</a>
								
							</td>
							<td>
									￥0.04
							</td>
							<td>
								1
							</td>
							<td>
								0.1kg
							</td>
							<td>
									￥0.04
							</td>
						</tr>
						<tr>
							<td>
								<img src="http://7xkqwg.com1.z0.glb.clouddn.com/p-1444789195965-99559-thumbnail.jpg" alt="Truffles 德菲丝 松露形代可可脂巧克力 黑色传统型 250g/盒 比利时进口" />
							</td>
							<td>
								<a href="/product/content/201507/279.html" title="Truffles 德菲丝 松露形代可可脂巧克力 黑色传统型 250g/盒 比利时进口" target="_blank">Truffles 德菲丝 松露形代可可脂巧克力 黑色传统型 25...</a>
								
							</td>
							<td>
									￥18.00
							</td>
							<td>
								1
							</td>
							<td>
								0.25kg
							</td>
							<td>
								￥18.00
							</td>
						</tr>
					</table>

					<div class="summary-r">
						<ul class="statistic">
							<li>
								<span>商品售价: </span><em id="freight">￥${order.amountPayable}元</em>
							</li>
							<li>
								<span>会员折扣: </span><em id="couponDiscount">￥0.00元</em>
							</li>
							<li>
								<span>商品优惠: </span><em id="amountPayable">￥0.00元</em>
							</li>
							<li>
								<span>支付优惠: </span><em id="amountPayable">￥0.00元</em>
							</li>
						</ul>
					</div>
				</div>

				<div class="bottom">
					<div class="price">
						应付金额: <strong id="amountPayable"><i>￥</i>${order.amountPayable}元</strong>
					</div>
					<a href="javascript:;" id="submit" class="submit">${message("shop.order.submit")}</a>
				</div>

			</form>
		</div>
	</div>
</div>
</body>
</html>